.jumbotron {
	background-color: #60635f;
	color: white;
	margin-top: 50px;

}

.btn {

	background-color: #71ce5a;
	color: white; 


}

footer {

	padding: 10px 10px 0 10px;
	background-color: #dc5252;
	margin-top: 80px;

}

.card-home{

	flex: 1 180px;
	padding: 20px 20px 20px 20px;

}

.btn-reserva{

	width: 100%;
}

.white-font {

   color: white;

}

h3 {
	 color: #343533;
}


.descripcion-card{
	color: #5d5e5c;
}

.icon-margin{
	padding-right: 10px;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-sub {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
}
