$black: #282828;
$grey: #bbbbbb;

@mixin margenes($top,$color,$background){
	margin-top:$top;
	background-color:  $background;
	color: $color;


}




.jumbotron {
	@include margenes(100px,$black,$grey);

}

.btn {

	background-color: #71ce5a;
	color: white; 


}

footer {

	padding: 10px 10px 0 10px;
	background-color: $black;
	margin-top: 80px;

}

.card-home{

	flex: 1 180px;
	padding: 20px 20px 20px 20px;

}

.btn-reserva{

	width: 100%;
}

.white-font {

   color: white;

}

h3 {
	 color: #343533;
}


.descripcion-card{
	color: #5d5e5c;
}

.icon-margin{
	padding-right: 10px;

}



.container2 {
  position: relative;
  text-align: center;
  color: white;
}
